@font-face {
    font-family: "jPark";
    src: url('../style/fonts/jPark.ttf') format('truetype');
    
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: "jPark", serif;
    font-size: 100pt;
    width		:100%;
    background-color: gold ;
}

.dennis {
  width: 33%;
}