@font-face {
    font-family: "jroar";
    src: url('../style/fonts/Jungle Roar Bold.ttf') format('truetype');
    
  }

  .metalBar {
    width: 100%;
    height: 20px;
    position: relative;
    top: 10px;
    
    background: -webkit-linear-gradient(top,  #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  }

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 20px;
}

.navbaritem{
    font-family: "jroar", serif;
    border-radius: 10px;
    font-size: 50px;
    margin-right: 20px;
    padding-right: 20px;
    height: 60px;
    padding: 5px;
    list-style-type: none;
    border:2px solid;
    border-color: black;      
}

a:link {
    color: black;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: green;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    text-decoration: none;
  }