.parkmap {
    border-radius: 8px;
    align-self: center;
    padding: 5px;
    max-width: 100%;
    border: 1px solid #ddd;
    position: relative;
        z-index: -1;
}

.lockdown {
    border: 5px solid red;
}

.maparea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.paddock {
    border: 5px solid rgba(0, 255, 0, 0.8);
    color: rgba(0, 255, 0, 0);
    border-radius: 10px;
    margin: 0;
    position: absolute;
}

.paddock:hover {
    background-color: rgba(0, 255, 0, 0.3);
  }

.p1 {
    width: 50px;
    height: 50px;
    top: 200px; 
    left: 550px;
}

.p2 {
    width: 50px;
    height: 50px;
    top: 300px; 
    left: 400px;
}

.p3 {
    width: 50px;
    height: 50px;
    top: 400px; 
    left: 150px;
}

.p4 {
    width: 100px;
    height: 100px;
    top: 600px; 
    left: 350px;
}

.p5 {
    width: 75px;
    height: 75px;
    top: 100px; 
    left: 350px;
}
  
  /* Tooltip text */
  .paddock .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: darkgreen;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .paddock:hover .tooltiptext {
    visibility: visible;
  }